/* 独自CSS */
@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap'); /* Roboto font */

body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.container {
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

header {
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.information h1 {
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}

.information .type {
    display: inline;
    background-color: #E35A4D;
    padding: 2px 5px;
    font-size: 80%;
    color: #FFF;
}

.description img {
    clear: left;
    float: left;
    margin: 10px 10px 10px 0;
}

.description {
    clear: left;
}

.content {
    background-color: #fff;
    padding: 20px;
}

.songs {
    margin: 0 0 20px;
}

.songs h2 {
    clear: left;
    font-size: 100%;  /* フォントサイズを本文と同じにする */
    font-weight: normal;
    margin: 0;
    background-color: #E6E4DD;
    padding: 5px 10px;
}

.songs ol {
    /* padding: 0; */
    /* margin: 0; */
    list-style: deciaml inside;
}

.songs li {
    border-bottom: 1px solid #ccc;
    width: 50%; /* リストの総数の前半をページの左側に配置する */
    float: left; /* リストの後半をページの右側に配置 */
    padding: 5px 10px;
}

/* clerfixによる, float:left;時の回り込みによる高さ不定(0)になる現象を解除する裏技テクニック */
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

a {
    color: #666;
    /* text-decoration: none; */
}

footer {
    text-align: center;
    font-size: 80%;
}

header h1 {
    /* font-family: serif; */
    font-family: 'Roboto', cursive;
}

/* RWD */
@media only screen and (max-width:600px) {
    .description img {
        float: none;
        display: block;
        margin: 0 auto;
    }
}